<h1><%- title %></h1>
<%- messages() %> <% if (errors) { %>
<ul class="notice">
  <% errors.array().forEach(error => { %>
  <li><%= error.msg %></li>
  <% }) %>
</ul>
<% } %>

<form action="/account/update" method="post" class="loginForm">
    <label for="account_firstname">First name:
        <input type="text" name="account_firstname" id="account_firstname" value=" <%= locals.account_firstname %>"  required >
    </label>
    <label for="account_lastname">Last name:
        <input type="text" name="account_lastname" id="account_lastname" value="<%= locals.account_lastname %>" required>
    </label>
    <label for="account_email">Email address:
        <input type="email" name="account_email" id="account_email" value="<%= locals.account_email %>" required>
    </label>

     
    
    <div>
    <button type="submit">Update Account Info</button>
    <input type="hidden" name="account_id"
<% if(locals.account_id) { %> value="<%= locals.account_id %>"
<% } %>>
    </div>
</form>


<h2>Update Password </h2>
<form action="/account/updatePassword" method="post" class="loginForm">
   
    <label for="account_password">Password: 
    <div><i>The password should have at least 12 characters, at least 1 uppercase character, 1 number and 1 special character</i></div>
        <input type="password" name="account_password" id="account_password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required>
    </label>
    
    <div>
    <button type="submit">Update Password</button>
    <input type="hidden" name="account_id"
<% if(locals.account_id) { %> value="<%= locals.account_id %>"
<% } %>>
    </div>
</form>