<%- title %>
<h1><%- title %></h1>

<%- messages() %> <% if (errors) { %>
<ul class="notice">
  <% errors.array().forEach(error => { %>
  <li><%= error.msg %></li>
  <% }) %>
</ul>
<% } %>

<form action="/inv/delete" method="post" class="loginForm" id="deleteForm">
  

  <label for="inv_make"
    >Vehicle make:
    <input
      type="text"
      name="inv_make"
      id="inv_make"
      value="<%= locals.inv_make %>"
      readonly
      required
    />
  </label>

  <label for="inv_model"
    >Vehicle model:
    <input
      type="text"
      name="inv_model"
      id="inv_model"
      value="<%= locals.inv_model %>"
      readonly
      required
    />
  </label>

  <label for="inv_year"
    >Vehicle year:
    <select name="inv_year" id="inv_year" disabled required>
      <option value="" disabled selected>Select a Year</option>
    </select>
  </label>

 

  <label for="inv_price"
    >Price:
    <input
      type="number"
      name="inv_price"
      id="inv_price"
      value="<%= locals.inv_price %>"
      readonly
      required
    />
  </label>

  

  <i>Confirm Deletion - The delete is permanent.</i>
  <button type="submit">Delete Vehicle</button>
  <input type="hidden" name="inv_id"
<% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
<% } %>>

</form>

<script>
  // doing the year select
  const yearSelect = document.getElementById("inv_year");
  const current_year = new Date().getFullYear();
  const earliest_year = 1890;
  const selectedYear = <%= locals.inv_year %>;

  for (let year = current_year; year >= earliest_year; year--) {
    let option = document.createElement("option");
    option.value = year;
    option.textContent = year;
    if (year === selectedYear) {
      option.selected = true;
      
    }
    yearSelect.appendChild(option);
  }
</script>



